$lightRed: rgb(206, 151, 151);
$softRed: rgb(249, 98, 98);
$grayRed: rgb(65, 58, 58);

$lightGradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$darkGradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

$defaultFont: "Josefin Sans", sans-serif;

$fontWeightDefault: 400;
$fontWeightLight: 300;
$fontWeightBold: 600;
